<div
  class="modal fade rounded-3"
  id="modalLogin"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalLoginLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="d-flex mb-3 justify-content-between">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <i class="fab fa-twitter fa-2x bluecolor"></i>
      </div>
      <h5 class="modal-title">Enter your email and password</h5>
      <form action="/register" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary mb-3 rounded-pill">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
