<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/meta") %>
    <!-- Landing CSS -->
    <link rel="stylesheet" href="/css/landing.css" />
    <title>Landing / Twitter</title>
  </head>
  <body>
    <%- include("partials/registerModal") %> <%- include("partials/loginModal") %>
    <main class="d-flex flex-column">
      <div class="row g-0 flex-grow-1">
        <div id="landingImage" class="col-6 d-flex justify-content-center align-items-center p-5">
          <svg viewBox="0 0 24 24">
            <g>
              <path
                d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
              ></path>
            </g>
          </svg>
        </div>
        <div class="col-6 p-5 d-flex flex-column justify-content-center">
          <!-- Register div -->
          <div id="registerPage">
            <i class="fab fa-twitter fa-2x bluecolor"></i>
            <h1 class="mt-4 fw-bold">Happening now</h1>
            <h3 class="mt-5 fw-bold">Join Twitter today.</h3>
            <button type="button" class="linkLanding btn btn-light mt-4 d-block">
              <img class="googleLogo" src="img/googleLogo.png" alt="" /> Sign up with Google
            </button>
            <button type="button" id="appleButton" class="linkLanding btn btn-light mt-3 d-block">
              <i class="bi bi-apple"></i> Sign up with Apple
            </button>
            <button
              type="button"
              id="phoneButton"
              data-bs-toggle="modal"
              data-bs-target="#modalRegister"
              class="linkLanding btn btn-light mt-3 d-block"
            >
              Sign up with your email
            </button>
            <p class="mt-2" id="textAgreement">
              By signing up, you agree to the <a href="">Terms of Service</a> and
              <a href="">Privacy Policy</a>, including <a href="">Cookie Use.</a>
            </p>
            <p class="d-inline" id="textSignIn">
              Already have an account? <span style="color: #0d6efd">Sign in</span>
            </p>
          </div>
          <!-- Login div -->
          <div id="loginpage" class="g-0 p-0 d-none flex-column justify-content-center">
            <i class="fab fa-twitter fa-2x bluecolor"></i>
            <h1 class="mt-4 fw-bold">Happening now</h1>
            <h3 class="mt-5 fw-bold">Sign in to Twitter</h3>
            <button type="button" class="linkLanding btn btn-light mt-4 d-block">
              <img class="googleLogo" src="img/googleLogo.png" alt="" /> Sign in with Google
            </button>
            <button type="button" id="appleButton" class="linkLanding btn btn-light mt-3 d-block">
              <i class="bi bi-apple"></i> Sign in with Apple
            </button>
            <button
              type="button"
              id="phoneButton2"
              data-bs-toggle="modal"
              data-bs-target="#modalLogin"
              class="linkLanding btn btn-light mt-3 mb-2 d-block"
            >
              Use phone, email, or username
            </button>
            <p class="d-inline" id="textSignUp">
              Don´t have an account? <span style="color: #0d6efd">Sign up</span>
            </p>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer aria-label="Footer">
        <div class="container pt-2 d-flex justify-content-between">
          <a href="">About</a>
          <a href="">Help Center</a>
          <a href="">Terms of Service</a>
          <a href="">Privacy Policy</a>
          <a href="">Cookie Policy</a>
          <a href="">Ads info</a>
          <a href="">Blog</a>
          <a href="">Status</a>
          <a href="">Careers</a>
          <a href="">Brand Resources</a>
          <a href="">Advertising</a>
          <a href="">Marketing</a>
          <a href="">Twitter for Business</a>
          <a href="">Developers</a>
          <a href="">Directory</a>
          <a href="">Settings</a>
          © 2021 Twitter, Inc.
        </div>
      </footer>
    </main>
    <%- include("partials/scriptBootstrap") %>
    <!-- jQuerry -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="js/script.js"></script>
  </body>
</html>
