:root {
  --color-primary: rgb(29, 155, 240);
  --color-like: rgb(249, 24, 129);
  --color-like-200: rgba(249, 24, 129, 0.2);
  --color-primary-100: rgba(29, 156, 240, 0.1);
  --color-retweet: rgb(0, 186, 124);
  --color-retweet-200: rgba(0, 186, 124, 0.2);
  --color-gray-100: rgba(15, 20, 25, 0.1);
}

body {
  font-family: "Open Sans", sans-serif;
}

/* ----------- FLEXBOX --------------- */

main {
  flex: 0 0 560px;
}

.right-sidebar {
  flex: 0 0 340px;
}

.left-sidebar {
  flex: 0 1 250px;
}

@media (max-width: 1200px) {
  .left-sidebar {
    flex: 0 0 60px;
  }
}

@media (max-width: 992px) {
  .right-sidebar {
    flex-shrink: 1;
  }
}

@media (max-width: 896px) {
  .right-sidebar {
    display: none;
  }
}

@media (max-width: 650px) {
  main {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .left-sidebar {
    flex-shrink: 0;
  }
}

/* ----------------- X -------------- */

a {
  text-decoration: none;
}

.fs-7 {
  font-size: 0.8rem;
}

.btn-soft:hover {
  background-color: var(--color-primary-100);
}

.btn-retweet svg,
.btn-like svg,
.btn-soft svg {
  fill: var(--color-primary);
  width: 1rem;
}

.user-image {
  border-radius: 50%;
  width: 3rem;
}

#sidebar .user-image {
  width: 2.3rem;
}

.tweet-content {
  max-height: 60vh;
}

.tweet-content [contentEditable]:focus-visible {
  outline: none;
}

.tweet-content [contentEditable]:empty:before {
  content: attr(placeholder);
  color: var(--bs-gray-700);
  pointer-events: none;
  display: block; /* For Firefox */
}

hr {
  color: var(--bs-gray-500);
}

.form-footer svg {
  width: 1.125rem;
}

.btn {
  padding: 0.3rem 0.7rem;
  border: none;
}

.tweet:hover {
  background-color: var(--bs-gray-200);
  cursor: pointer;
}

.tweet .btn-soft svg {
  fill: var(--bs-gray-600);
}

.btn-like:hover .rounded-circle {
  background-color: var(--color-like-200);
}
.btn-like:hover span {
  color: var(--color-like);
}
.btn-like:hover svg {
  stroke: var(--color-like);
}

.tweet-actions {
  margin-left: -0.5rem;
}

.tweet-actions .rounded-circle {
  margin-right: 0.2rem;
}
.tweet-actions svg {
  fill: var(--bs-gray-600);
}

.btn-like svg {
  stroke: var(--bs-gray-600);
  stroke-width: 1.5px;
  fill: none;
}
.tweet-actions a {
  text-decoration: none;
  color: var(--bs-gray-600);
}

.tweet-actions .btn-soft:hover {
  background-color: transparent;
}

.tweet-actions .btn-soft:hover svg {
  fill: var(--color-primary);
}
.tweet-actions .btn-soft:hover span {
  color: var(--color-primary);
}

.tweet-actions .btn-soft:hover .rounded-circle {
  background-color: var(--color-primary-100);
}

.tweet-actions .btn-retweet:hover svg {
  fill: var(--color-retweet);
}
.tweet-actions .btn-retweet:hover span {
  color: var(--color-retweet);
}

.tweet-actions .btn-retweet:hover .rounded-circle {
  background-color: var(--color-retweet-200);
}

#sidebar {
  position: fixed;
  height: 100vh;
}

.btn-gray:hover {
  background-color: var(--color-gray-100);
  cursor: pointer;
}
.btn-gray svg {
  width: 1rem;
}
#sidebar .btn-soft,
#sidebar .btn {
  padding: 0.6rem;
  font-size: 1.125rem;
}

#sidebar .btn-primary.btn {
  padding: 0.7rem;
  font-size: 0.9rem;
}
#sidebar .btn-primary.btn svg {
  width: 1.5rem;
  fill: #fff;
}

#sidebar .nav-item svg {
  width: 1.6rem;
}

.trend-item:hover {
  background-color: var(--bs-gray-200);
}

.trend-item span {
  font-size: 0.6rem;
}

input:focus-visible {
  outline: none;
  border: 1px solid var(--color-primary);
  background-color: #fff;
}

input:focus-visible + svg {
  fill: var(--color-primary);
}

input {
  padding: 3rem 2.5rem;
  border: 1px solid var(--bs-light);
  background-color: var(--bs-light);
}

form svg {
  position: absolute;
  left: 0.5rem;
}

.link-secondary {
  color: var(--bs-gray-600);
  font-size: 0.7rem;
}

.link-secondary:hover {
  text-decoration: underline;
}

#tweet-button {
  width: 100%;
}

@media (max-width: 1200px) {
  #tweet-button {
    width: auto;
  }
}
